name: safeguard
description: A Flutter app to scan links and detect fake or fraudulent messages using Google Safe Browsing API.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  flutter_dotenv: ^5.1.0
  share_plus: ^6.0.0
  google_fonts: ^6.1.0
  flutter_animate: ^4.5.0
  animations: ^2.0.8
  lottie: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/
